@import '@mdi/font/css/materialdesignicons.css'

* 
  box-sizing: border-box
  padding: 0
  margin: 0

.vp-doc a
  font-weight: inherit
  color: inherit
  text-decoration: inherit
  text-underline-offset: inherit
  transition: color 0.25s, opacity 0.25s
  &:hover
    color: inherit

.vp-doc a:not(.f-button)
  font-weight: 500
  color: var(--vp-c-brand-1)
  text-decoration: underline
  text-underline-offset: 2px
  transition: color 0.25s, opacity 0.25s

  &:hover
    color: var(--vp-c-brand-2)

.vp-doc table
  display: inline-table
  width: 100%